@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Averia+Libre&family=Averia+Sans+Libre:wght@300&family=Caveat:wght@600&family=Comfortaa:wght@700&family=Fredoka&family=Grandstander&family=Kantumruy+Pro:ital,wght@1,500&family=Montserrat:ital,wght@0,200;0,400;0,500;1,300&family=Quicksand:wght@700&family=Sen&family=Signika+Negative:wght@300&family=Unbounded:wght@600&display=swap');

@layer base{
  body{
    @apply font-[Raleway] bg-darkBlue
   
  }
}
body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    
}
